<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-resource.js"></script>
  <script type="text/javascript" src="js\controllers\root.js"></script> 
  <script type="text/javascript" src="js\controllers\Services.js"></script> 
  <script type="text/javascript" src="js\controllers\multiplier.js"></script> 
  <link rel="stylesheet" type="text/css" href="css\custom.css">
</head>
<body ng-app="app">
<style>
	input.ng-dirty.ng-valid {
		border-color: green;
	}
	
	input.ng-dirty.ng-invalid {
		border-color: red;
	}
</style>
	<div ng-controller="index">
		<h2>{{message}}</h2>
		<h2 style="background-color:yellow">Make sure you wrap your code with 'div ng-controller="index">'</h2>
	</div>
	<!--Two-way bindings starts here-->
	<p>---------------------------Two ways binding-----------------------------</p>
	<div>
	Favorite word: <input type="text" ng-model="favoriteWord"/> {{favoriteWord}} </div>
	<div>
	Favorite color:
	<input type="radio" name="fc" value="Red" ng-model="favoriteColor">Red</input>
	<input type="radio" name="fc" value="Green" ng-model="favoriteColor">Green</input>
	<input type="radio" name="fc" value="Yellow" ng-model="favoriteColor">Yellow</input>
	<input type="radio" name="fc" value="Blue" ng-model="favoriteColor">Blue</input>
	{{favoriteColor}}
	</div>
	
	<div>
	Favorite Shape:
	<select ng-model="favoriteShape">
	<option value="Circle">Circle</option>
	<option value="Triangle">Triangle</option>
	<option value="Square">Square</option>
	</select>
	{{favoriteShape}}
	</div>
	<!--Two-way bindings ends here-->
	<!--Binding CSS classes starts here-->
	<p>---------------------------Binding CSS classes--did not work---------------------------</p>
    <input type="text" ng-model="value"/>
	<span ng-class="{bold: isBold(), italic: isItalic(), underline: isUnderlined()}">
	  Example Text
    </span>
	<!--Binding CSS classes ends here-->
	
	<!--Repeaters starts here-->
	<p>---------------------------Repeaters---------------------------</p>	
    <div ng-controller="index">
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products" ng-class="{oddRow: $odd}">
				<td>{{product.id}}</td>
				<td>{{product.name}}</td>
			</tr>
		</tbody>
	</table>
	</div>
	<!--Repeaters ends here-->
	
	<!--Visibility starts here-->
	<p>---------------------------Repeaters---------------------------</p>
	<div ng-controller="index">
		<div><input type="checkbox" ng-model="isFirstElementVisible"/> Is first element visible</div>
		<div><input type="checkbox" ng-model="isSecondElementVisible"/> Is second element visible</div>
		<div ng-show="isFirstElementVisible">First Element</div>
		<div ng-if="isSecondElementVisible">Second Element</div>
	<div>
	<!--Visibility ends here here-->
	
	<!--The Value Recipe starts here-->
	<p>---------------------------The Value Recipe--------------------</p>
    <div ng-controller="index">
		<h2>{{message1}}</h2>
	</div>
	<!--The Value Recipe ends here-->

	<!--The factory Recipe starts here-->
	<p>---------------------------The factory Recipe--------------------</p>
    <div ng-controller="index">
		{{product}}
	</div>
	<!--The factory Recipe ends here-->
	
	<!--The Service Recipe starts here-->
	<p>---------------------------The Service Recipe--------------------</p>
    <div ng-controller="index">
		{{product}}
	</div>
	<!--The Service Recipe ends here-->
	
	<!--The $watch starts here-->
	<p>---------------------------$watch--------------------</p>
    <div ng-controller="index">
		<input type="text" ng-model="factorVal"/>{{productVal}}
	</div>
	<!--The $watch ends here-->
	
	<!--The $Filters starts here-->
	<p>---------------------------$watch--------------------</p>
    <div ng-controller="index">
		<p>Name: <input type="text" ng-model="name" required /></p>
		<p>Email: <input type="email" ng-model="email" /></p>
	</div>
	<!--The $Filters ends here-->
</body>

</html>